<div class="container full">
	<div class="col s12 full">
		<div class="card blue-grey darken-1 infocard">
            <div class="card-content white-text">
              <span class="card-title">What is GlassHouse?</span>
              <p class="flow-text-">GlassHouse is a very simple weather station set up with a Spark Core and some Grove sensors provided by the ARM mbed team.</p><br>
              <p class="flow-text-">It is designed to push out environmental information to an API, which in turn can be used to power other devices.</p><br>
              <p class="flow-text-">For the Hackathon we demonstrated this using a Pebble smart watch.</p>
            </div>
          </div>
	</div>
	
</div>