<!DOCTYPE html>
<html>
  <head>
  	<!-- Compiled and minified CSS -->
  	 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
     <link rel="stylesheet" href="/css/style.css"/>
  	 

    <title>{{title}}</title>
  </head>
  <body>
    <script   src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

    <div class="splash-wrapper grey lighten-2">
      {{>navbar}}

      {{{body}}}
    </div>
  </body>
</html>
